* {
	margin: 0;
	padding: 0;
}
/*ul,li,ol {
	list-style: none;
}*/
:root {
	background-color: rgb(209,181,142);
}
@font-face {
    font-family: ts;
    src:url(../font/2sDEZGRQotv9nbn2qSl0TxXVYNwNZjnXli4.ttf);
}
.header {
	width: 100%;
	height: 80px;
	/*background-color: red;*/
	box-shadow:2px 2px 10px black;
/*	margin-bottom: 10px;
	position: fixed;
	z-index: 5;*/
}
.self {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(209,181,142,1);
	background-image: url(../image/tay5.jpg);
	background-position: center;
	background-size: cover;
	float: left;
	margin: 20px;
}
.title {
	width: 300px;
	height: 80px;
	line-height: 80px;
	float: left;
	font-weight: bold;
	font-size: 20px;
	font-family: ts;
	letter-spacing: 2px;
	word-spacing: 2px;
}
.nav {
	width: 19%;
	height: 600px;
	/*background-color: grey;*/
	float: left;
	margin-right: 0.5%;
	margin-left: 0.5%;
	background: rgba(255,255,255, 0.1);
	backdrop-filter: blur(2px);
	border-radius: 4px;
}
.nav ul li {
	width: 150px;
	height: 30px;
	list-style: none;
	margin: 25px;
	line-height: 20px;
	transition: all 0.4s;
	padding: 5px;
	box-sizing: border-box;
}
.nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.nav ul li:hover {
	width: 220px;
	background-color: #654425;
	border-radius: 2px;
}
.content {
	width: 80%;
	height: 1250px;
	/*background-color: white;*/
	float: left;
}
.shang {
	width: 100%;
	height: 700px;
	margin-bottom: 20px;
	/*background-color: brown;*/
}
.picture {
	width: 220px;
	height: 700px;
	/*background-color: blue;*/
	float: left;
	background: rgba(255,255,255, 0.1);
	backdrop-filter: blur(2px);
	border-radius: 4px;
}
.picture img {
	width: 200px;
	height: 200px;
	margin: 10px;
}
.picture p {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: white;
	letter-spacing: 1px;
}
.songs {
	width: 800px;
	height: 700px;
	/*background-color: green;*/
	float: left;
	padding: 10px 30px;
	box-sizing: border-box;
	color: white;
	word-spacing: 2px;
	letter-spacing: 1px;
	background: rgba(255,255,255, 0.1);
	backdrop-filter: blur(2px);
	border-radius: 4px;
}
.songs ul li {
	margin-bottom: 5px;
}
.shang div[id^="Album"] {
	display: none;
}
.shang div[id^="Album"]:target {
	display: block;
}
.xia {
	width: 100%;
	height: 700px;
	/*background-color: pink;*/
}
.timeline {
	width: 1080px;
	height: 600px;
	/*background-color: yellow;*/
}
.timeline_body ul {
	list-style: none;
	position: relative;
}
.zhixian {
	width: 5px;
	height: 340px;
	background-color: rgba(224,223,227,0.5);
	position: absolute;
	left: 320px;
	z-index: 1;
}
.timeline_body li {
	width: 1080px;
	height: 100px;
	margin: 0px 0px 20px 40px;
	background-color: hotpink;
	background: rgba(255,255,255,0.1);
	backdrop-filter: blur(2px);
	border-radius: 4px;
	transition: all 0.5s;
}
.timeline_body li:hover {
	background: rgba(255,255,255,0.6);
	backdrop-filter: blur(2px);
	border-radius: 4px;
}
.timeline_body li div {
    display: inline-block;	
}
.timeline_body .bullet {
	width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgba(224,223,227,1);
    z-index: 2;
    position: absolute;
    right: 1094px;
    /*margin-top: 50px;*/
}
.timeline .desc {
	padding: 20px;
	box-sizing: border-box;
}
.desc span {
	font-size: 13px;
	color: rgba(228,231,237);
	transition: all 0.3s;
}
.desc span:hover {
	font-size: 13px;
	color: rgba(228,231,237,0);
}